@import "bulma/css/bulma.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
	--pri-color: #696b77;
	--secondary-color: black;
	--third-color: white;
}

/* In your CSS file */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-size: 16px;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sidebar {
	position: fixed;
	width: 20%;
	display: block;
	height: 100vh;
	background-color: var(--secondary-color);
	color: black;
	min-width: 300px;
	border-right: 0.2px solid rgba(0, 0, 0, 0.121);
}

.sidebar-header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10%;
	color: white;
}

.new-chatBTN {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	border-radius: 10px;
	height: 60%;
	border: 0.2px solid rgba(245, 245, 245, 0.232);
	cursor: pointer;
	color: white;
}

.recent-chats-container {
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 2rem;
	width: 92%;
	height: 70%;
	padding: 10px;
}

.sidebar-footer {
	border-top: 0.3px solid rgba(245, 245, 245, 0.548);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85%;
	height: 13%;
	margin-left: auto;
	margin-right: auto;
}

.profile-img-container {
	border-radius: 2px;
	object-fit: contain;
	width: 2rem;
	height: 2rem;
	margin-left: -4rem;
	border-radius: 50%;
	overflow: hidden;
}

.profile-img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.AiProfile {
	background-color: var(--pri-color);
	border-radius: 2px;
	object-fit: contain;
	width: 2.5rem;
	height: 2.5rem;
	margin-left: -4rem;
}

.profile-name {
	font-size: 1.2rem;
	font-weight: 700;
	margin-left: 1rem;
	color: white;
}

.recent-chats-container::-webkit-scrollbar {
	width: 8px;
}

.recent-chats-container::-webkit-scrollbar-thumb {
	background-color: whitesmoke;
	border-radius: 8px;
}

.recent-chats-container::-webkit-scrollbar-track {
	background-color: inherit;
}

.recent-chats-container::-webkit-scrollbar-thumb:vertical {
	height: 5px;
}

input:-webkit-autofill::first-line {
	color: inherit !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

input {
	outline: none;
	display: none;
}

.recent-chat {
	display: flex;
	align-items: center;
	width: 100%;
	height: 3rem;
}

.recent-chat:hover {
	background-color: var(--pri-color);
}

.chat-title {
	margin-left: 1rem;
	width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	color: white;
}

.chat-container {
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
}

.convo-container {
	width: 80%;
	height: 87%;
	float: right;
	overflow-x: hidden;
}

.dropdown-reset {
	background-color: white;
	color: black;
	border: 0;
}

.dropdown-container {
	height: 30vh;
	width: 17rem;
	overflow-x: hidden;
}

.dropdown-menu li:hover {
	background-color: white;
}

.AI-container {
	background-color: #dddddd34;
}

.message-container {
	padding: 25px;
	display: flex;
	justify-content: center;
	border-bottom: 0.1px solid rgba(0, 0, 0, 0.15);
	width: 100%;
	height: fit-content;
	background-color: none;
	color: black;
}

.msg {
	margin-left: 10px;
	width: 50%;
	padding: 10px;
	height: fit-content;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.8rem;
	line-height: 1.6;
}

.bottom-container {
	margin-top: 1rem;
	position: absolute;
	bottom: 0;
	right: 0;
	position: fixed;
	height: 13%;
	width: 80%;
	box-shadow: 10px 10px 10px 2px white;
}

.text-flex-positioner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.text-container {
	display: flex;
	width: 60%;
	height: 62%;
	border-radius: 10px;
	border: solid rgba(0, 0, 0, 0.123) 0.2px;
}

.text-area {
	width: 90%;
	height: 100%;
	padding: 20px;
	text-indent: 1;
	font-size: 1rem;
	outline: none;
	color: black;
	border: 0;
	border-radius: 10px;
	resize: none;
}

.modal-reset {
	background-color: white;
	border-bottom: 0;
	border-top: 0;
}

.modal-div-reset {
	background-color: white;
	border-bottom: 0;
	border-top: 0;
	border-radius: 10px;
	height: 30vh;
}

.modal-section-reset {
	overflow-y: hidden;
	overflow-x: hidden;
	display: flex;
	justify-content: space-around;
}

.submit-button-container {
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ddd;
	float: right;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 100%;
}

#sendBTN {
	font-size: 2.2rem;
	color: black;
	cursor: pointer;
	border-radius: 5px;
}

.text-area::-webkit-scrollbar {
	display: none;
}

.text-container::placeholder {
	font-size: 1rem;
	margin-top: auto;
	margin-bottom: auto;
}

.mobile-device-header {
	display: none;
}

.chat-page-header {
	display: none;
}

.sidepanel {
	position: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
	background-color: var(--secondary-color);
	color: black;
	z-index: 2;
	display: none;
}

.x-icon {
	display: none;
}

.auth-div {
	display: block;
	display: flex;
	width: 90%;
	height: 90%;
	border-radius: 10%;
	background-color: black;
}

.page-positioner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: white;
}

.left-container {
	width: 65%;
	height: 100%;
}

.img-container {
	height: 100%;
	width: 100%;
	padding: 20px;
	background-color: white;
}

.img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right;
	border-radius: 20px;
}

.auth-form {
	display: block;
	height: 100%;
	width: 35%;
	padding: 5%;
	background-color: white;
}

.signup-form {
	display: block;
	height: 100%;
	width: 35%;
	padding: 5%;
	background-color: white;
}

.socials-container {
	margin-top: 2rem;
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 2rem;
}

.socials-container div {
	display: block;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.fa-brands fa-x-twitter {
	color: #fff;
}

.x-button {
	background-color: black;
}

.signup-page-div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-form {
	width: 40%;
}

@media screen and (max-width: 1024px) {
	.mobile-device-header {
		display: block;
		display: flex;
		align-items: center;
		width: 100%;
		background-color: var(--secondary-color);
		border-bottom: solid rgba(255, 255, 255, 0.203) 0.2px;
		height: 7vh;
		color: white;
	}

	.modal-div-reset {
		height: 60%;
		max-height: 20rem;
	}

	.sidepanel {
		width: 30%;
		min-width: 20rem;
		box-shadow: 5px 0 10px rgba(255, 255, 255, 0.7);
	}

	.chat-page-header {
		height: 7vh;
		display: block;
	}

	.x-icon {
		color: white;
		display: block;
	}

	.sidebar {
		display: none;
	}

	.bottom-container {
		width: 100%;
		height: 10%;
		background-color: white;
	}
	

	.text-container {
		width: 80%;
		height: 50%;
		background-color: white;
	}

	.convo-container {
		width: 100%;
		height: auto;
	}

	.new-chatBTN {
		width: 70%;
	}

	.chat-title {
		width: 70%;
	}

	.left-container {
		display: none;
	}

	.auth-div {
		width: 50%;
		height: 80%;
		border-radius: 0;
		justify-content: center;
		align-items: center;
		background-color: white;
	}

	.auth-form {
		padding: 0;
		width: 100%;
	}

	.signup-form {
		width: 60%;
		height: 100%;
	}

	.custom-google-BTN:hover {
		background-color: #ddd;
	}
}

@media screen and (max-width: 767px) {
	.chat-page-header {
		height: 7vh;
	}

	.auth-div {
		width: 100%;
	}

	.auth-form {
		width: 100%;
		padding: 20px;
		height: 100%;
	}

	.signup-page-div {
		width: 100%;
		height: 100%;
	}

	.signup-form {
		width: 100%;
		height: 80%;
	}

	.x-icon {
		color: white;
		display: block;
	}

	.sidepanel {
		width: 90%;
		max-width: 320px;
		padding: 10px;
		background-color: var(--secondary-color);
	}

	.mobile-device-header {
		display: block;
		display: flex;
		align-items: center;
		width: 100%;
		background-color: var(--secondary-color);
		border-bottom: solid var(--secondary-color) 0.2px;
		height: 7vh;
		color: white;
	}

	.convo-container {
		width: 100%;
		height: 83%;
	}

	#sendBTN {
		font-size: 2rem;
		margin-right: 15px;
	}

	.message-container {
		padding: 10px;
	}

	.text-flex-positioner {
		align-items: center;
	}

	.bottom-container {
		background-color: var(--secondary-color);
		border-top: solid rgba(255, 255, 255, 0.244) 0.2px;
		height: 10%;
	}

	.text-area {
		background-color: #696b77;
		color: white;
		height: 20%;
	}

	.text-area::placeholder {
		color: white;
		margin-top: -1rem;
	}

	.text-container {
		background-color: #696b77;
		height: 80%;
	}

	.chat-title {
		width: 80%;
	}

	.modal-div-reset {
		height: 40%;
		width: 95%;
		min-height: 23rem;
	}

	.socials-container {
		justify-content: space-around;
		width: 100%;
	}

	.msg {
		width: 70%;
	}
}

@media screen and (max-width: 280px) {
	.sidebar {
		display: none;
	}

	.sidepanel {
		height: 100%;
		width: 90%;
	}

	.signup-form {
		width: 100%;
	}

	.signup-page-div {
		width: 100%;
	}
}
